/* PAGE */

html {
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-size: cover;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    /* border: 1px solid black; */
    padding-bottom: 100px;
}

/* NAVBAR */

#navbar {
    /* border: 1px solid black; */
    display: flex; /*look up a complete guide to flexbox for more info */
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 100;
}
.navbarBox {
    /* border: 1px solid black; */
    font: 4.1em arial, sans-serif;
    color: pink;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}
.navbarBox a {
    color: pink;
    transition: 0.3s;
}
.navbarBox :hover {
    color: blue;
    transition: 0.8s;
}
.navbarBox a:link {
    color: #ffb6c2;
    text-decoration: none;
}
/* .navbarBox a:visited {
    color: pink;
} */
/* .navbarBox a:active {
    color: pink;
} */
#navbarPortfoliobox {
    width: 100%;
    margin-left: 7px;
    /* border: 1px solid black; */
}


/* ABOUT */

#abouttext {
    /* border: 1px solid black; */
    text-align: center;
    font: 1.56em helvetica, sans-serif;
    color: pink;
    margin-top: 9%;
    align-items: center;
}

/* PORTFOLIO */

#portfolioGrid {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    white-space: pre-wrap;
    flex-wrap: wrap;
    flex: 1;
    max-width: 100%;
}
.portfolioPic {
    /* border: 1px solid black; */
    margin: 13px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.25em;
    font: 20px helvetica, sans-serif;
    width: 471px;
    max-width: 100%;
    height: auto;
    white-space: normal;
    writing-mode: horizontal-tb;
    transition: 0.7s
}
.portfolioPic img:hover {
    transform: scale(1.05);
}
img {
    max-width: 100%;
    height: auto;
}

/* CONTACT */

#contact {
    text-align: center;
    font: 40px arial, sans-serif;
    color: pink;
}

#contactIcons {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    max-height: 30px;
    max-width: 100%;
}
.icon {
    /* border: 1px solid black; */
    transition: 3s;
    align-items: center;
    max-height: 50px;
}
img {
    transition: 0.5s;
}
.icon :hover {
    transform: scale(1.2);
    transition: 1s;
}